
html,
body {
    margin: 0px;
    padding: 0px;
    font-family: Segoe UI, Century Gothic, Verdana, Arial;
    Background: #F9F9F9;
}
.label {
    text-align: center;
    font-size: 35px;
    color: rgb(61, 89, 189);
}

.contenedor{
    margin-left: 10%;
    margin-right: 10%;
}

.boton {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2C59F8;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
}

.boton:hover {
    background: rgb(13, 53, 196);
    cursor: pointer;
}

.boton:active {
    background-color: rgb(30, 66, 194);
    box-shadow: 0 1px rgb(92, 92, 92);
    transform: translateY(2px);
}