
html,
body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: Segoe UI, Century Gothic, Verdana, Arial;
    Background: #F9F9F9;
}

.label {
    text-align: center;
    font-size: 35px;
    color: rgb(61, 89, 189);
}

.label2 {
    text-align: center;
    font-size: 20px;
    color:rgb(61, 89, 189);
}

#cajaform {
    position: relative;
    border: 1px solid #CCC;
    padding: 10px;
    margin: auto;
    margin-right: 15%;
    height: 250px;
    margin-left: 15%;
}

#cajaform2 {
    margin-left: 15%;
    position: absolute;
    bottom: 10px;
}

#div_Mensajes{
    margin-left: 15%;
    position: absolute;
    bottom: 13px;
}

#newText{
    outline: none;
    border: 1px solid rgb(148, 149, 150); 
    resize: none;
}

.boton {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2C59F8;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    bottom: 10px;
    height: 25px;
    margin: 0px 10px 0px 10px;
}

.boton:hover {
    background: rgb(13, 53, 196);
    cursor: pointer;
}

.boton:active {
    background-color: rgb(30, 66, 194);
    box-shadow: 0 1px rgb(92, 92, 92);
    transform: translateY(2px);
}