/*Quitamos los bordes invisibles a nuestra página*/
html, body { 
  margin: 0;
  padding: 0;
}

/*Centramos nuestro contenido total*/
#page{
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto; /* esta es la clave para centrar contenido*/
}

body{
    overflow: hidden; /*ocultamos el scroll horizontal del navegador*/
}

#device{
	position: relative;
	width: 800px;
	height: 550px;
	margin: auto;
	margin-top: 20px;
}

#screen{
	position: relative;
	width: 700px;
	height: 450px;
	margin: auto;
	margin-top: 45px;
}

@keyframes fadeout {
    from { opacity: 1; visibility: visible; }
    to   { opacity: 0; visibility: hidden; }
}

@keyframes fadein {
    from { opacity: 0; visibility: hidden; }
    to   { opacity: 1; visibility: visible; }
}

#main_screen{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-position: center;
	background-image: url('../../app_core/rsc/pics/screen_main.png');
	background-repeat: no-repeat;
}

#time{
	position: relative;
	width: 100%;
	height: 80px;
	top: 30px;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	font-family: Segoe UI, Verdana;
	font-size: 52px;
	color: #EEE;
	text-shadow:1px 1px 1px #333;
}


#lbl_time_top{
	position: relative;
	display: block;
	margin: auto;
	text-align: center;
	font-family: Segoe UI, Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}

#topbar{
	position: absolute;
	width: 100%;
	height: 18px;
	background: #000;
	top: 0px;
	opacity: 0.8;
}

#main_menu{
	position: absolute;
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,0.5);
	bottom: 0px;
}

#panel{
	position: absolute;
	width: 100%;
	height: 400px;
	top: 40px;
}

#panel_icons{
	position: relative;
	margin:auto;
	width: 95%;
	height: 90%;
}

.icons{
	position: relative;
	width: 64px;
	height: 64px;
	margin: 20px;
	float: left;
	cursor: pointer;
	background-position: top center;
}

.icons2{
	position: relative;
	width: 64px;
	height: 64px;
	margin: 20px;
	float: left;
	cursor: pointer;
	background-position: top center;
}

.label_icon{
	position: relative;
	width: 100%;
	height: 13px;
	color: #DDD;
	background: rgba(0,0,0,0.4);
	font-family: Segoe UI, Verdana;
	font-size: 9px;
	border-radius: 8px;
	text-align: center;
	top: 70px;
}

#main_app{
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #CCC;
	z-index: 1;
}

#main_app iframe{
	overflow: hidden;
	border: none;
}

